<main class="project-detail__container">

    <h1 class="project-detail__h1">{{projectById.name}}</h1>
   
    <img src={{projectById.image}} alt={{projectById.name}} crossorigin="anonymous" width="90%">

</main>